<div class="container">
<header>
  <h1>Scrum Page</h1>
  <h2>You amazing board</h2>
</header>

  <div class="flex">
  <div *ngFor="let section of scrum;"
  class="stories"
  kendoDropTarget
  (drop)="handleDrop({section})"
  >
  <div >
    <span class="title">{{section.name}} ({{section.stories.length}})</span>
    <div

    kendoDragTarget class="story" *ngFor="let story of section.stories"
    (release)="handlePress(section,story)"
    >
      <span>{{ story.title }}</span>
      <span>{{ story.description }}</span>
      <span [ngClass]="story.status" class="status">{{ story.status }}</span>
    </div>

  </div>

  </div>
  </div>
</div>
